definitions:
  Activities:
    items:
      $ref: '#/definitions/Activity'
    type: array
    x-go-package: casaattivita/models
  Activity:
    properties:
      data_inserimento:
        description: |-
          Timestamp of insert
          in: time
        format: date-time
        type: string
        x-go-name: DateInsert
      id:
        description: |-
          Id of Activity value
          in: int64
        format: int64
        type: integer
        x-go-name: Id
      valore:
        description: |-
          Value of Activity
          in: int
        format: int64
        type: integer
        x-go-name: Value
    type: object
    x-go-package: casaattivita/models
  CommonError:
    properties:
      message:
        description: |-
          Message of the error
          in: string
        type: string
        x-go-name: Message
      status:
        description: |-
          Status of the error
          in: int64
        format: int64
        type: integer
        x-go-name: Status
    type: object
    x-go-package: casaattivita/controllers
  CommonSuccess:
    properties:
      message:
        description: |-
          Message of the error
          in: string
        type: string
        x-go-name: Message
      status:
        description: |-
          Status of the error
          in: int64
        format: int64
        type: integer
        x-go-name: Status
    type: object
    x-go-package: casaattivita/controllers
  GetActivities:
    properties:
      data:
        $ref: '#/definitions/Activities'
      message:
        description: |-
          Message of the response
          in: string
        type: string
        x-go-name: Message
      status:
        description: |-
          Status of the error
          in: int64
        format: int64
        type: integer
        x-go-name: Status
    type: object
    x-go-package: casaattivita/controllers
  GetActivity:
    properties:
      data:
        $ref: '#/definitions/Activity'
      message:
        description: |-
          Message of the response
          in: string
        type: string
        x-go-name: Message
      status:
        description: |-
          Status of the error
          in: int64
        format: int64
        type: integer
        x-go-name: Status
    type: object
    x-go-package: casaattivita/controllers
  ReqAddActivity:
    properties:
      valore:
        description: |-
          Value of the Activity
          in: int
        format: int64
        type: integer
        x-go-name: Value
    type: object
    x-go-package: casaattivita/models
info:
  title: 'Activity Api:'
  version: 0.1.3
paths:
  /activities:
    get:
      description: Get Activity list
      operationId: listRain
      responses:
        "200":
          description: GetActivities
          schema:
            $ref: '#/definitions/GetActivities'
        "401":
          description: CommonError
          schema:
            $ref: '#/definitions/CommonError'
      security:
      - apiKey:
        - '[]'
  /activity:
    post:
      description: Create a new Activity value
      operationId: addActivity
      parameters:
      - description: 'name: body'
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ReqAddActivity'
        x-go-name: Body
      responses:
        "200":
          description: GetActivity
          schema:
            $ref: '#/definitions/GetActivity'
        "401":
          description: CommonError
          schema:
            $ref: '#/definitions/CommonError'
      security:
      - apiKey:
        - '[]'
  /lasthour:
    get:
      description: Get list of last hour of Activity .... or the last value inserted
      operationId: lastHour
      responses:
        "200":
          description: GetActivities
          schema:
            $ref: '#/definitions/GetActivities'
        "401":
          description: CommonError
          schema:
            $ref: '#/definitions/CommonError'
      security:
      - apiKey:
        - '[]'
produces:
- application/json
schemes:
- http
- https
swagger: "2.0"
